body {
  position: relative;
  height: 1000px;
  overflow: overlay;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.nav {
  border-bottom: 7px solid #161616;
  background: linear-gradient(to bottom, #000000 0%, #0b0b0b 100%);
  margin: 0;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
  z-index: 99999;
  height: 65px;
  z-index: 9999;
  position: relative;
  width: 100%;
  min-width: 490px;
  top: 0;
}

a {
  text-decoration: none;
  color: white;
}

.nav #navUL {
  list-style-type: none;
  font-size: 17px;
  margin: 0;
  display: flex;
  color: white;
}

.nav ul li {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 7px solid transparent;
  text-align: center;
  transition: .2s ease-in-out;
  -webkit-transform: .2s ease-in-out;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 24px;
  font-size: 15px;
  font-weight: 600;
  margin: 3px 0 0;
  height: 36px;
  cursor: pointer;
  font-size: 10px;
}

.nav ul li:hover {
  border-bottom: 7px solid #0066d0;
}

#navUL img {
  width: 80px;
  position: relative;
  bottom: 35px;
}
#banner_minecraft{
  background: url(/image/banner.webp) center center no-repeat;
}
.banner {
    height: 500px;
    width: 100%;
    padding-top: 80px;
    text-transform: uppercase;
    background-position: center;
    background-size: cover;
    z-index: 100;
}
.fourth {
  background-color: #080808;
  border-top: 1px solid #191919;
  background-size: 1440px;
  color: white;
  padding: 0;
  margin: 0;
  text-align: left;
  min-width: 490px;
}

.fourth ul {
  -style-type: none;
  min-width: 490px;
  padding: 0;
  margin: 0;
}

.fourth ul li {
  display: inline-block;
  margin: 10px;
}

.fourth ul h4 {
  padding-right: 50px;
  color: #9b9b9b;
  font-weight: 500;
  margin-bottom: -15px;
}

.fourth ul a {
  margin: auto;
  margin-left: 20px;
}

#logo img {
  width: 100px;
  padding: 0;
}

#logo {
  padding: 0;
}

.fourth li a {
  margin: 0;
  transition: all .3s;
  cursor: pointer;
}

.fourth li a:hover {
  color: #4378d9;
}

#discord img {
  width: 48px !important;
  margin-top: 20px;
  padding: 5px;
}

@media screen and (max-width: 960px) {
  #discord img {
    width: 48px !important;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin: 0px 10px auto;
  }

  .header-text h1 {
    color: #fff;
    text-align: center;
    top: -300px;
    position: relative;
    font-weight: 600;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 25px;
    margin: 0px;
    text-transform: uppercase;
  }

  .header {}

  .header-content {
    margin: 10px;
    position: relative;
  }
}

/* Start services */
.warp {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  width: 300px;
  background: #1f1f21;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  margin: 40px;
  top: -400px;
  position: relative;
  padding-bottom: 30px;
  color: #f4f4f4;
}

.card, img {
  border-radius: 6px 6px 0 0;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 70%);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.container-header {
  text-align: center;
  padding: 40px 16px;
  padding-bottom: 20px;
}

.container i {
  padding-right: 10px;
}

.container li {
  padding-bottom: 10px;
  list-style: none;
  text-align: justify;
  display: flex;
}

.blue-text {
  color: #0085fc !important;
  font-weight: bold;
  top: -12px;
  position: relative;
}

.header-text {
  padding-bottom: 5px;
  font-size: 18px;
}

button {
  display: inline-block;
  padding: 16px 20px;
  cursor: pointer;
  color: #fff;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #0066d0;
  border: 2px solid #0066d0;
  border-radius: 3px;
  /* border: black; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s;
  transition: color .2s;
}

button:hover {
  background-color: #408cffc2;
  color: black;
}

.main-content {
  padding-top: 400px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background-color: #080808;
  margin: 0;
}

.header-text h1 {
  padding-bottom: 200px;
  color: #fff;
  text-align: center;
  top: -300px;
  position: relative;
  font-weight: 600;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 45px;
  margin: 0px;
  text-transform: uppercase;
}

.container {
  text-align: center;
  padding-top: 10px;
}

.header-content h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 44px;
}

.header-content h2 {
  font-size: 50px;
  line-height: 0px;
  color: #fff;
}

.header-content p {
  color: #adafca;
  font-size: 18px;
  line-height: 46px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .header-content h3 {
    font-size: 18px;
  }
}

.video-container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  min-height: 100%;
  min-width: 490px;
}

.header p {
  color: #fff;
  text-align: center;
  top: -500px;
  position: relative;
}

.header-icons {
  color: #fff;
  text-align: center;
  top: -550px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-icons i {
  background-color: #0085fc;
  padding: 5px;
  border-radius: 5px;
}

.header-icons li {
  list-style-type: none;
  padding-left: 20px;
}
